# Ignore build files and IDE configs only in Programování 2.F
Programování 2.F/build/
Programování 2.F/nbproject/
Programování 2.F/build.xml
Programování 2.F/manifest.mf
Programování 2.F/test/

# Ignore compiled class files
*.class
/kurzy/venv